*{
    box-sizing:border-box;
}
body{
    background-image: url(reginfo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
}
.registrationpage{
    width:1200px;
    margin:auto;
    position: relative;
    top:-81px;

}
.block1{
    width:500px;
    display: inline-block;
    position: relative;
    top: 185px;
    right: -156px;
    height: 600px;

}
.block1 img{
    height: 627px;
    width: 500px;
}
.block2{
    width:485px;
    display: inline-block;
    position: relative;
    top: 141px;
    right: -152px;
    padding: 92px 0px 119px 0px;
    background-color:rgba(233, 227, 227, 0.925);


}
form{
    
    line-height: 1.2em;
    margin-bottom: -103px;
}
input{
    display: block;
    border: transparent;
    margin-bottom: 6px;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:400px;
    font-size: 16px;
    padding: 15px 0px;
    box-shadow: none;
    background-color: transparent;
    color: rgb(2, 2, 2);

}
select{
    display: block;
    border: transparent;
    margin-bottom: 6px;
    border-bottom: 1px solid rgb(0, 0, 0);
    width:400px;
    font-size: 14px;
    padding: 15px 0px;
    background-color: transparent;
    color: rgb(20, 18, 18)
}
button{
    text-align: center;
    border: transparent;
    background-color:  #b67739;
    border-radius: 37px;
    padding:12px 50px;
    margin: 10px 11px;
    font-size: 20px;
    color: whitesmoke;
}
button a{
    text-decoration: none;
    color: #000;
}
.register{
    text-align: center;
    font-size: 42px;
    margin-bottom: 12px;
    color: rgb(15, 15, 15);
    text-decoration: underline;
    position: relative;
    top:-73px;
}
form{
    position: relative;
    bottom: 11px;
    right: -41px;
}
::placeholder {
    color: rgba(15, 1, 1, 0.918);
  }
  span{
      color: rgb(22, 21, 21);
  }
  button:hover{
      background-color: brown;
      box-shadow: 0px 0px 6px 4px whitesmoke;
  }
